<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PowerBiFullScreen.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <applicationSettings>
    <PowerBiFullScreen.Properties.Settings>
      <setting name="PowerBiDataset" serializeAs="String">
        <value>https://api.powerbi.com/v1.0/myorg/</value>
      </setting>
      <setting name="PowerBiApi" serializeAs="String">
        <value>https://analysis.windows.net/powerbi/api</value>
      </setting>
      <setting name="AadAuthorityUri" serializeAs="String">
        <value>https://login.windows.net/common/oauth2/authorize/</value>
      </setting>
      <!-- replace below values with values from Azure AD app -->
      <setting name="RedirectUri" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value></value>
      </setting>
    </PowerBiFullScreen.Properties.Settings>
  </applicationSettings>
</configuration>